@media screen and (max-width: 390px) {
 .header{
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content:0px;
    align-items: center;
 }
 .home-content h1 {
    font-size: 21px;
}
.home-content h3{
    font-size: 18px;
}
.home-content p {
    font-size: 10px;
    margin-right: 100px;
}
.home-content .btn-box {
    width:  170px;
    height: 40px;
}
.btn-box a {
    width: 150px;
    font-size: 14px;
    font-weight: 300;
    margin: 5px;
}
.home{
    background: url(home.jpg) !important;

}
    
}